* {
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  overflow-x: clip;
  scrollbar-width: none;
}


header {
  height: 10vh;
  align-items: center;
  background-color: #adbbda;
  border: solid, 1px, white;
}

h1 {
  color: #3d52a0;
}

main {
  height: 100vh;
  background-color: #ede8f5;
  position: relative;
}

nav {
  background-color: #3d52a0;
}

footer {
 height: 10vh;
 text-align: center;
 background-color: #adbbda;
 border: solid, 1px, white;
}

#editName {
  position: absolute;
  top:40%;
  left: 50%;
  height: 30vh;
  width: 50vh;
  background-color: #adbbda;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
}

input[id="changeName"], button {
  border-radius: 2rem;
}

button {
  width: 5vw;
}